<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839297790909-ol7qtj56km8u7if6u7aj7pam1cak3og6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839297790909-ol7qtj56km8u7if6u7aj7pam1cak3og6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>839297790909-45jba3pd0k85ljour31k6ctklu64gmf8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk1uomRmfctA784rgQB--tVAcjCmeIruU</string>
	<key>GCM_SENDER_ID</key>
	<string>839297790909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MovieApp999</string>
	<key>PROJECT_ID</key>
	<string>movieapp-395b8</string>
	<key>STORAGE_BUCKET</key>
	<string>movieapp-395b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839297790909:ios:45b5c31fe9aea589d258d4</string>
</dict>
</plist>